.project__title
  .project__title__content
    .project__title__main
      = @project.title
    .project__title__name
      NAME:
      = @project.user.nickname

  .project__main
    .project__right
      - @target_amount = @project.target_amount
      - @turm= @project.tarm
      - total1 = @billings.sum(:count_1)
      - total2 = @billings.sum(:count_2)
      - total3 = @billings.sum(:count_3)
      - @total = total1*@project.return_price_1+total2*@project.return_price_2+total3*@project.return_price_3 
      - if @today >= @turm && @total >= @target_amount     
        .Achievement
          %span.trapezoid-display__achievement.fade-in01 達 成 
          %span.square-display__achievement.fade-in01 期間終了 
      - elsif @today >= @turm
        .Achievement
          %span.square-display__achievement.fade-in01 期間終了 
      - elsif @total >= @target_amount 
        .Achievement
          %span.trapezoid-display__achievement.fade-in01 達 成 
      - else
        .Achievement

      .project__right__image
        = image_tag @project.image.to_s, class: "image"

      .project__right__text.scroll
        %h2 プロジェクト詳細
        .project__right__text__detail
          =safe_join(@project.text.split("\n"),tag(:br))
      .project__right__profile
        %h2 Profile
        .project__right__profile__detail
          .profile-image
            = image_tag @project.profile_image.to_s, class: "image2"
          .profile-expect.scroll
            = @project.profile


    .project__left
      .project__left__contents
        .contents-total
          .contents-total__box1
            現在の支援総額
          .contents-total__box2
            =@total.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
            円

        .contents-pacent
          .contents-pacent__box1
            進捗率
          .contents-pacent__box2
            - @ratio = @total.to_f/@project.target_amount*100
            - @percent = number_to_percentage(@ratio,precision: 1)
            = @percent
            %input{name: "ratio", type: "hidden", value:@ratio, class: 'ratio' }
            %input{name: "percent", type: "hidden", value:@percent, class: 'percent' }
            .contents-pacent__box2__graph1
              .contents-pacent__box2__graph2

        .contents-amount
          .contents-amount__box1.box
            目標金額
          .contents-amount__box2.box
            = @project.target_amount.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
            円
        .contents-turm
          .contents-turm__box1.box
            募集期間
          .contents-turm__box2.box
            = @project.tarm.strftime("%Y年%m月%d日")
            まで
      
      .project__left__return
        %p return
        .return
          .return__title
            リターン①
          .return__price
            寄付金額：
            = @project.return_price_1.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
            円
          .return__content
            .return__image
              - if  @project.return_image_1.blank?
                = image_tag "/48094.jpg", alt: "プレゼント",  class: "nill_image"
              - else
                = image_tag @project.return_image_1.to_s, class: "image3"
            .return__text.scroll
              = @project.return_title_1
          .return__btn
            - if @today >= @project.tarm
              = link_to '募集期間終了', "#", class:'donate'
            - else
              - if user_signed_in? 
                - if current_user.id == @project.user_id
                  = link_to '寄付をする', "#", class:'donate'
                - else
                  = link_to '寄付をする', new_return1_project_billing_path(@project.id), class:'donate'
              - else
                = link_to '寄付をする', new_user_registration_path, class:'donate'
        .return
          .return__title
            リターン②
          .return__price
            寄付金額：
            = @project.return_price_2.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
            円
          .return__content
            .return__image
              - if  @project.return_image_2.blank?
                = image_tag "/48094.jpg", alt: "プレゼント",  class: "nill_image"
              - else
                = image_tag @project.return_image_2.to_s, class: "image3"
            .return__text.scroll
              = @project.return_title_2
          .return__btn
            - if @today >= @project.tarm
              = link_to '募集期間終了', "#", class:'donate'
            - else
              - if user_signed_in? 
                - if current_user.id == @project.user_id
                  = link_to '寄付をする', "#", class:'donate'
                - else
                  = link_to '寄付をする', new_return2_project_billing_path(@project.id), class:'donate'
              - else
                = link_to '寄付をする', new_user_registration_path, class:'donate'
        .return
          .return__title
            リターン③
          .return__price
            寄付金額：
            = @project.return_price_3.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
            円
          .return__content
            .return__image
              - if  @project.return_image_3.blank?
                = image_tag "/48094.jpg", alt: "プレゼント",  class: "nill_image"
              - else
                = image_tag @project.return_image_3.to_s, class: "image3"
            .return__text.scroll
              = @project.return_title_3
          .return__btn
            - if @today >= @project.tarm
              = link_to '募集期間終了', "#", class:'donate'
            - else
              - if user_signed_in? 
                - if current_user.id == @project.user_id
                  = link_to '寄付をする', "#", class:'donate'
                - else
                  = link_to '寄付をする', new_return3_project_billing_path(@project.id), class:'donate'
              - else
                = link_to '寄付をする', new_user_registration_path, class:'donate'