= render 'layouts/header'
.Phot
  .phot__image
    = image_tag '/下町ネコ.jpg',class: "phot__image--background-1"
    .expect.fade-in-bottom
      .expect__contents
        %h2.expect__title 
          ネコと人が
          %a共存
          できる世界のために
        %p.expect__body 現在、多くの保護団体や個人のボランティアの方々は
        %p.expect__body 支援者の援助や自身の貯金を切り崩して
        %p.expect__body 自身の生活を犠牲にして保護活動を行っています。
        %p.expect__body そのような中、新型コロナウイルスによる影響により
        %p.expect__body 保護ネコカフェの経営困難、譲渡会の中止など活動の継続が難しく、
        %p.expect__body また運営資金の調達も今まで以上に厳しい状況となっています。
      .expect__ask
        %p 小さな命を救うために
        %P 今私たちができることを
        %p 改めて考えてみませんか？
  .phot__image
    = image_tag '/下町ネコ.jpg',class: "phot__image--background-2"
    .expect.fade-in-bottom
      .expect__contents
        %h2.expect__title 
          ネコと人が
          %a共存
          できる世界のために
        %p.expect__body 現在、多くの保護団体や個人のボランティアの方々は
        %p.expect__body 支援者の援助や自身の貯金を切り崩して
        %p.expect__body 自身の生活を犠牲にして保護活動を行っています。
        %p.expect__body そのような中、新型コロナウイルスによる影響により
        %p.expect__body 保護ネコカフェの経営困難、譲渡会の中止など活動の継続が難しく、
        %p.expect__body また運営資金の調達も今まで以上に厳しい状況となっています。
      .expect__ask
        %p 小さな命を救うために
        %P 今私たちができることを
        %p 改めて考えてみませんか？
  .phot__image
    = image_tag '/背景画像.jpg',class: "phot__image--background-2"
    #expect__title__crowdfunding
      保護猫 ✖︎ クラウドファンディング
    .Btn-box
      .Start-crowdfunding
        - if user_signed_in? 
          = link_to "クラウドファンディングをはじめる", new_project_path, method: :get, class: "Select__start select"
        - else
          = link_to "クラウドファンディングをはじめる", confirmation_projects_path, method: :get, class: "Select__start select"
      .Understand-crowdfunding
        = link_to "クラウドファンディングについて知る", new_project_path, method: :get, class: "Select__start select"        


  
.Body
  .Contents
    .Contents__expect 
      %h1.Contents__expect__title 保護ネコ活動にかかる費用について
      %hr.contents-line.title-line
      .expect__box-2 
        %p.expense 一匹のネコを保護するためにかかる費用
      .expect__box-2 
        %table
          %tr
          %th 避妊手術代
          %td 15,000〜3,0000円
          %tr
          %th 健康診断
          %td 5,000～10,000円
          %tr
          %th 血液検査
          %td 4,000〜10,500円
          %tr
          %th 入院料
          %td 2,000〜5,000円
          %tr
          %th 予防接種料
          %td 4,000～6,000円
          %tr
          %th.totale 計
          %td.totale 30,000~61,500円
      .expect__ask-2
        %p 上記に加え、フードやネコ砂などの費用も加算されます。
        %p ひとつの命を守るだけでもこれだけのお金がかかります。
        %p 保護活動を行っている方々は活動と並行して資金調達もしなければ活動を継続できません。
          
    .Contents__expect 
      %h1.Contents__expect__title クラウドファンディングとは
      %hr.contents-line.title-line
      %p クラウドファンディングとはインターネットを通して自分の活動を発信することで
      %p その活動を応援したいと思ってくれる人から資金を募るシステムのことです。
      %p 病気の保護ネコを治療したい、保護シェルターを建設したい・・
      %p 保護ネコを救うための多くのプロジェクトを
      %p プロジェクトに賛同していただいた支援者の方々と共に実現していきます。
    
      .Btn-box-2
        .Start-crowdfunding.btn-color
          = icon('fas', 'angle-double-right')
          - if user_signed_in? 
            = link_to "クラウドファンディングをはじめる", new_project_path, method: :get, class: " select-2"
          - else
            = link_to "クラウドファンディングをはじめる", confirmation_projects_path, method: :get, class: "select-2"
        .Understand-crowdfunding.btn-color
          = icon('fas', 'angle-double-right')
          = link_to "クラウドファンディングについて知る", new_project_path, method: :get, class: "select-2"


    .Contents__expect 
      %h1.Contents__expect__title 寄付をする
      %hr.contents-line.title-line
      %p ユーザーは支援をしたいプロジェクトに寄付をすることができます。
      %p 寄付金額は投稿者が設定しているリターンの種類から選択できます。
      %p 寄付をしていただくと、投稿者からリターンとしてささやかなお礼が届きます。
      %p また、寄付金を使ったプロジェクトの実行報告を後日確認することができます。
    
    .Tag
      Let's Crowd Funding !!

    .Contents__projects
      - @drafts.each do |draft|
      - @projects = Project.where(id:draft.project_id)
        - @projects.each do |project|
        - @target_amount = project.target_amount
        - @turm= project.tarm
        - @billings= Billing.where(project_id: project.id)
        - total1 = @billings.sum(:count_1)
        - total2 = @billings.sum(:count_2)
        - total3 = @billings.sum(:count_3)
        - @total = total1*project.return_price_1+total2*project.return_price_2+total3*project.return_price_3 
        
          .Achievement
            - if @today >= @turm && @total >= @target_amount 
              %span.trapezoid.fade-in01 達 成 
              %span.square.fade-in01 期間終了 
            - elsif @today >= @turm
              %span.square.fade-in01 期間終了 
            - elsif @total >= @target_amount 
              %span.trapezoid.fade-in01 達 成 
            - else

            .Projects 
              = link_to display_project_path(project.id) , class: "Box3"do
                .Box1
                  = image_tag project.image.url.to_s, class: "Box1__image"
                .Box2
                  %p.Box2__title= project.title
                  %p.Box2__percent__contents 進捗率
                  - @percent = number_to_percentage(@total.to_f/project.target_amount*100,precision: 1)
                  = @percent
                  .contents-pacent__box2__graph1
                    .contents-pacent__box2__graph2
                      %input{name: "percent", type: "hidden", value:@percent, class: 'percent' }
                .Details
                  .Details__total.detail
                    %p 支援総額
                    - @billings= Billing.where(project_id: project.id)
                    - total1 = @billings.sum(:count_1)
                    - total2 = @billings.sum(:count_2)
                    - total3 = @billings.sum(:count_3)
                    - @total = total1*project.return_price_1+total2*project.return_price_2+total3*project.return_price_3 
                    =@total.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
                    円
                  .Details__suppoter.detail
                    %p 目標金額
                    = project.target_amount.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
                    円
                  .Details__term.detail
                    %p 募集期間
                    = project.tarm.strftime("%Y年%m月%d日")
                    まで
  
     
  
        