= render 'layouts/header'
.Header-bar
%hr.contents-line
.Mypage
  .Side-bar
    .Side-bar__image
    .Side-bar__name
      = "#{current_user.nickname} さん" 
  .Main-bar
    .Main-bar__title
      登録クレジットカード情報
    .Main-bar__contents 
      .Information.Card-Information
        %label カード番号
        = "**** **** **** " + @default_card_information.last4
        %br
        %label 有効期限
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
        = form_with url: delete_cards_path, method: :post, id: 'charge-form', name: "inputForm", local: true do |f|
          = f.submit "削除する", class: 'card-delete-btn'
        = link_to mypage_projects_path,  class: "Payment__inner__add-btn" do
          もどる